################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.map
/.tools
*.manifest
*.exe
/Packages
*.suo
*.orig
*.user
/target/**/*
/drop/**/*
*.cache
*.projhash
*.slnhash
/**/.vscode
/init.log
/Logs/**/*
*.nlp

/**/.vs/config/**/*
/**/*.StyleCop
*.coverage

/build/include/Environment.targets

/solutions/**/packages/*
/solutions/**/solution/templates/**
/solutions/TypeDefinitions/**/*
/solutions/**/objd/**/*
/solutions/**/objd/**/*.*
/solutions/**/obj/**/*
/solutions/**/bin/**/*
/solutions/**/gen/**/*
/solutions/**/buildd*.*
/settings.json
/refreshtest.log
/temp.txt

# Loc related temp file
/**/build.log
/**/*_packager.log
*.error
/**/vars.log
/**/UpgradeLog*.htm

# ControlResources
/solutions/**/ControlsResources/**/node_modules
/solutions/**/ControlsResources/**/dist

/solutions/**/client/**/*.js
/solutions/**/client/**/*.d.ts
/solutions/**/client/node_modules
/solutions/**/unittests.client/node_modules
!/solutions/DfM/Client/msdfm_/src/Declarations/whatwg-fetch.d.ts
!/solutions/DfM/Client/msdfm_/src/Declarations/XrmClientApi.d.ts
/solutions/**/client.unittests/**/*.js
!/solutions/**/client.unittests/**/webpack.config.js
/solutions/**/client.unittests/node_modules
/solutions/**/package/webresources/**/*.*
/solutions/D4M/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb/F0354A4C026E4AD3A1749C96A3C3CD721/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb
/solutions/D4M/pingme.txt
/solutions/DfM/.vs
*.lock
*.ide
*.ide-shm
*.ide-wal

# WinMerge Backup
*.xml.bak
/solutions/DfM/Client/msdfm_/node_modules
/solutions/DFM/Client/msdfm_/package-lock.json

# Microsoft Fakes
FakesAssemblies/
/.vs/slnx.sqlite

# tools folder
tools/extract-dfm/
tools/extract-dfd/
tools/extract-data/
tools/*.zip
tools/msdfm_*/
tools/**/~$*
tools/eventing-config.xml
